 /***********************Tags selectors**************************/
body {
        background-color: #edeef7;}
 h1{ color: #66BFBF;}   
 h2{
     color: #66BFBF;
 } 
 
 h3{
     color: #0a043c ;
 } 
  hr {
        background-color:##dddddd;
        border-style:dotted none none;
        border-color:  #a1cae2;
        border-width: 5px;
        width: 10%; }
 /***********************class selectors**************************/
  
 .skill{
     color:#0a043c;
 }
.pro{
    color: ##FF9933;
}
.name{ color: #301b3f; }

.top{ background-color: #0a043c;
    height: 5px; }

.circular{ border-radius: 5%;
position: relative;
top: 32px; }

.web { color: slateblue; }

.circular{ border-radius: 50%;
    background-size: 50% ;
    width: 150px;
    height: 150px;
}
.twitter{ border-radius: 100px ;
    background-size: 100px ;
    width: 150px;
    height:150px; }

.gmail{ border-radius: 100px ;
        background-size: 100px ;
        width: 150px;
        height:150px; }

.linkedin{ border-radius: 100px ;
            background-size: 100px ;
            width: 150px;
            height:150px; }

.button {
    background: #B8B5FF;
    background-image: -webkit-linear-gradient(top, #B8B5FF, #7868E6);
    background-image: -moz-linear-gradient(top, #B8B5FF, #7868E6);
    background-image: -ms-linear-gradient(top, #B8B5FF, #7868E6);
    background-image: -o-linear-gradient(top, #B8B5FF, #7868E6);
    background-image: -webkit-gradient(to bottom, #B8B5FF, #7868E6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }


            
